/* Custom properties */
:root {
    --MainFont: "Inter", sans-serif;
    --BodyCopy: 15px;

    --MainBackground: hsl(233, 47%, 7%);
    --CardBackground: hsl(244, 38%, 16%);
    --Accent: hsl(277, 64%, 61%);
}

body {
    background-color: var(--MainBackground);

    font-size: var(--BodyCopy);
    font-family: var(--MainFont);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--CardBackground);
    padding: 0 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    margin: 75px 5% 75px 5%;
    border-radius: 10px;
    overflow: hidden; /* This is necessary for border-radius to work */

    background-color: var(--Accent);
    display: flex;
    flex-direction: column-reverse;
}

img {
    mix-blend-mode: multiply;
    height: auto;
}

.stats {
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    color: white;
}

strong {
    color: var(--Accent);
}

.card p {
    color: hsla(0, 0%, 100%, 0.75);
}

.stat p {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family: "Lexend Deca", sans-serif;
}

footer {
    font-size: 11px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
}

footer a {
    color: var(--Accent);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1000px) {
    .card {
        width: 50%;
        text-align: left;
        padding: 0 8%;
    }

    main {
        /* This limited size avoids stretching the image */
        max-width: 1080px;

        flex-direction: row;
    }

    img {
        width: 50%;
    }

    .stats {
        flex-direction: row;
        justify-content: space-between;
    }
}
